<style>
    input {
        width: 35%;
    }
</style>

<section class="card">
    <img src='<%=book.img %>' alt="Book Cover">
    <h2>
        <%= book.title %>
    </h2>
    <h3>
        <%= book.author %>
    </h3>
    <p class="description">
        <%= book.description %>
    </p>
    <p>
        ISBN: <%= book.isbn %>
    </p>
    <p>
        Bookshelf: <%= book.shelf %>
    </p>
    <div>
        <form>
            <button type='button' onclick="toggleEdit()">Update Details</button>
        </form>
        <form action="/books/<%= book.id %>?_method=DELETE" method='POST'>
            <button type="submit">Delete Book</button>
        </form>
    </div>
    <div id='editBook'>
        <%- include('edit')-%>
    </div>
</section>

<script>
    function toggleEdit() {
        var x = document.getElementById("editBook");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>